spring:
  application:
    name: pets-service
  datasource:
    url: jdbc:h2:mem:pets_db
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

app:
  instance-id: pets-service-1
  version: 1.0.0

management:
  endpoints:
    web:
      exposure:
        include: health,info
